.gridItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 245px;
    height: 226px;
}
.gridImage{
    width: 245px;
    height: 138px;
    border: #1390E5 1px solid;
    border-radius: 10px;
}
.gridItemDataBlock{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.gridItemData{
    font-family: Roboto,sans-serif;
}
.gridItemMainData{
    font-weight: bold;
}
.delete{
    display: flex;
    flex-direction: row-reverse;
}
.deleteButton{
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: grey;
    -webkit-mask-image: url("../../../../assets/img/delete.svg");
    background-size: cover;
    transition: 0.1s;
}
.deleteButton:hover{
    background: #1390E5;
    transition: 0.1s;
    transform: scale(1.2);
}
